<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kyle.bedell.mp3-copy</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/node</string>
      <string>/Users/kyle/Dropbox/opensource/mp3-player-copy/index.js</string>
    </array>
    <key>StartOnMount</key>
    <true/>
  </dict>
</plist>